<div class="page-container">
  <app-navbar></app-navbar>
  <div class="register-form-wrapper">
    <mat-card class="register-form-card">
      <h2>Regisztráció</h2>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Email-cím</mat-label>
          <input matInput type="email" formControlName="email" />
          @if(registerForm.get('email')?.hasError('required')){
          <mat-error> Kérlek, add meg az email címed! </mat-error>}
          @if(registerForm.get('email')?.hasError('email')) {
          <mat-error> Érvénytelen email formátum. </mat-error>}
        </mat-form-field>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Jelszó</mat-label>
          <input matInput type="password" formControlName="password" />
          @if (registerForm.get('password')?.hasError('required')) {
          <mat-error> Kérlek, add meg a jelszavad! </mat-error>} @if
          (registerForm.get('password')?.hasError('minlength')) {
          <mat-error> Minimum 6 karakter hosszúnak kell lennie. </mat-error>}
        </mat-form-field>
        <button mat-stroked-button color="primary" type="submit">
          Regisztráció
        </button>
      </form>
    </mat-card>
  </div>
</div>
