@media (max-width: 768px) {
  .navbar-center {
    display: flex;
    justify-content: flex-start;
  }
  .navbar-container {
    justify-content: flex-start;
    height: auto;
  }
  .active {
    background-color: white;
    font-weight: bold;
  }
  .hamburger {
    display: block;
    margin-left: 1rem;
  }
}

@media (min-width: 769px) {
  .hamburger {
    display: none;
  }
  .navbar-center {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }

  .navbar-container {
    background: linear-gradient(45deg, #5a9bff, #d7e3ff);
    display: flex;
    justify-content: center;
    height: 3rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }

  .navbar-item {
    display: flex;
    align-items: center;
    margin: 0 1rem;
    font-size: 30px;
  }

  .active {
    background-color: white;
    font-weight: bold;
  }
}
