.page-container {
  background: linear-gradient(to bottom, #00c6ff, #feec76);
  min-height: 100vh;
}

.flight-form-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: rgb(243, 244, 246, 0.7);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

fieldset {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

legend {
  font-weight: bold;
  font-size: 16px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 15px;
}

button {
  width: 100%;
  margin-top: 15px;
}
