<app-navbar></app-navbar>
<div class="home-container">
  <div class="welcome-section">
    <h1>Fedezd fel a világot!</h1>
    <p>Keress és foglalj repülőjegyet egyszerűen.</p>
    <button mat-raised-button color="primary" routerLink="/flights">
      Kezdjük a keresést!
    </button>
  </div>

  <div class="popular-destinations">
    <h2>Legnépszerűbb úti célok</h2>
    <div class="destinations">
      <div class="destination-card">
        <!--<img src="paris.jpg" alt="Párizs" /> -->
        <p>Párizs</p>
      </div>
      <div class="destination-card">
        <!-- <img src="newyork.jpg" alt="New York" /> -->
        <p>New York</p>
      </div>
    </div>
  </div>

  <div class="special-offers">
    <h2>Kiemelt Ajánlatok</h2>
    <p>20% kedvezmény minden tavaszi járatra!</p>
  </div>
</div>
