.home-container {
  text-align: center;
  padding: 20px;
}

.welcome-section {
  background-color: #d7e3ff;
  padding: 30px;
  margin-bottom: 20px;
}

.popular-destinations,
.special-offers {
  margin-top: 20px;
}

.destinations {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.destination-card {
  text-align: center;
  width: 300px;
}

.destination-card img {
  width: 100%;
  border-radius: 8px;
}
.destination-card img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

button:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}
