body {
  margin: 0;
  padding: 0;
}

.search-section {
  max-width: 600px;
  margin: 50px auto;
  padding: 30px;
}

.search-form {
  display: flex;
  flex-direction: column;
}

.form-field {
  margin-bottom: 20px;
}

.search-btn {
  color: white;
  width: 48%;
  border-radius: 20px;
  font-size: 16px;
  padding: 12px 20px;
  transition: all 0.3s ease;
}
.reset-btn {
  color: #333;
  width: 48%;
  border-radius: 20px;
  font-size: 16px;
  padding: 12px 20px;
  transition: all 0.3s ease;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
