<section class="search-container">
  <form [formGroup]="searchForm" (ngSubmit)="onSearch()" class="search-form">
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Úticél</mat-label>
      <input matInput formControlName="arrival" />
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Utazási osztály</mat-label>
      <mat-select formControlName="class">
        <mat-option value="economy">Túrista</mat-option>
        <mat-option value="business">Business</mat-option>
        <mat-option value="first">Első osztályú</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Érkezési dátum</mat-label>
      <input matInput [matDatepicker]="datePicker" formControlName="date" />
      <mat-datepicker-toggle
        matSuffix
        [for]="datePicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #datePicker></mat-datepicker>
    </mat-form-field>
    <div class="button-group">
      <button mat-flat-button type="submit" class="search-btn">Keresés</button>
      <button
        mat-flat-button
        type="button"
        (click)="onReset()"
        class="reset-btn"
      >
        Reset
      </button>
    </div>
  </form>
</section>
